.calc {
  margin: 50px auto;
  width: 750px;
  height: 430px;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  font-family: Arial;
  padding: 18px;
  position: relative;
}

/* .calc-screen {
  /* height: 125px;
  padding: 10px; */
  /* display: grid;
  align-items: end;
  justify-items: end;
  margin-bottom: 10px;
} */ 
.calc-screen {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Две колонки: история и экран */
  gap: 10px; /* Расстояние между историей и экраном */
  align-items: end;
  margin-bottom: 10px;
}

.history {
  grid-column: 1; /* История в первой колонке */
  text-align: left; /* Текст истории выравниваем по левому краю */
  font-size: 14px; /* Размер текста истории */
  color: #666; /* Цвет текста истории */
  /* overflow-y: auto; Добавляем прокрутку, если история слишком длинная */
  /* max-height: 100px; Ограничиваем высоту блока истории */
}

.display {
  grid-column: 2; /* Основной экран во второй колонке */
  text-align: right; /* Текст экрана выравниваем по правому краю */
  font-size: 24px; /* Размер текста экрана */
  font-size: 50px;
  margin: 0;
}



.buttons {
  display: grid;
  grid-template-columns: repeat(10, 69px);
  grid-template-rows: repeat(5, 61px);
  /* grid-template-areas:
    "left_parenthesis right_parenthesis mc mplus mminus mr ac plus-minus percent division"
    "2nd x2 x3 xY eX 10X seven eight nine myltiply"
    "1/x 2rx 3rx yrx in log10 four five siz minus"
    "x! sin cos tan e EE one two three plus"
    "rad sinh cosh tanh pi-symbol rand zero zero dot equal"; */
  gap: 7px;
  justify-items: center;
  position: absolute;
  top: 115px;
  left: 16px;
}

.btn {
  width: 60px;
  height: 60px;
  background-color: #333;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  cursor: pointer;
  user-select: none; /*нельзя выбрать текст внутри элемента*/
}



.btn.zero {
  /* grid-area: zero; */
  grid-column: span 2; /* Кнопка будет занимать две колонки */
  width: 100%;
  border-radius: 34px;
}

.btn:hover {
  filter: brightness(120%); /*яркость*/
}

.btn:active {
  filter: brightness(90%); /*яркость*/
}

.btn.bg-grey {
  background-color: #a6a6a6;
}

.btn.bg-orange {
  background-color: #ff9501;
}

.subscript {
  font-size: 10px;
  vertical-align: sub;
}

.superscript {
  font-size: 12px;
  vertical-align: super;
}

.pi-symbol {
  font-size: 24px;
}
